body {
  font-family: "Helvetica";
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

/* .border-top-left {
  border-top-left-radius: 60px;
  background-color: lightgreen;
  margin-top: 10%;
} */

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #0d28a6;
}

.btn-green {
  background: #5cb85f;
  font-weight: bold;
  color: #ffffff;
}

.btn-green:hover {
  background: #377039;
  font-weight: bold;
  color: #ffffff;
}

/* .navbar-brand-bg {
  background-color: #0d28a6;
  color: #0d28a6;
  font-size: medium;
} */

.text-justify {
  text-align: justify;
}

.jumbotron-background-color {
  background-color: #f1f3ff;
  color: black;
}

.text-normal-weight {
  font-weight: normal;
}

.button-footer {
  border: none;
  background-color: #ffffff;
  font-weight: bold;
}

.footer {
  /* position: fixed; */
  margin-top: 5%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
}

.a-footer {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 992px) {
  .col-lg-6 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

@media (max-width: 767.5px) {
  #star-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
  }
}
